.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  border: 10px solid #00bfff; /* Border color like in the image */
  margin: 20px;
}

.container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

p {
  font-size: 16px;
  margin: 5px 0;
}
